*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.goals-container{
    width: 100%;
    min-height: 100vh;
    background:rgb(191,104,169);
    padding-top: 10%;
    padding-left:30%;
}

.goals-container button{
    background:rgb(232,16,138);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border:0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: #fff;
    box-shadow: 10px 10px 14px rgba(33,33,33,.7);
    color:black;
    padding: 20px;
    margin:20px 0;
    outline: 0;
    border-radius: 5px;
}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right:15px;
    cursor: pointer;
}
#nyj-summary{
    display: block;
    margin: 50px;
    padding: 20px;
    box-shadow: 10px 10px 14px ;
    background-color: #ffc;
    height:100vh;
    flex-wrap: wrap;
 }

 #nyj-paragraph{
    font-size: 20px;
 }
 #nyj-heading{
    color: rgb(232,16,138);
    text-align: center;
 }